.recipes {
  color: #fff;
  background-color: #0a2750;
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-size: cover;
}

.recipes__title {
  margin: 0 0 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}

.recipes__iframe {
  width: 560px;
  height: 315px;
}
